a.list-group-item:hover {
    background-color: #59B509 !important;
    color: white;
}

.list-group-item {
    color: black !important;
}

.proPic {
    width: 30%;
    height: 30%;
    position: relative;
    left: 75%;
}

.stats {
    position: absolute;
    bottom: 50%;
    font-size: 36px;
}

.link {
    width: 15%;
    height: 15%;
    margin: .75em;
    position: relative;
    right: 20%;
    
}