a.list-group-item:hover {
    background-color: #0990b5 !important;
    color: white;
}

.proPic {
    width: 30%;
    height: 30%;
    position: relative;
    left: 75%;
}

.stats {
    position: absolute;
    bottom: 50%;
    font-size: 36px;
}