.navbar {
    /* background-color: #676b74; */
    background: linear-gradient(120deg, #59B509, #2B5505 95%);
}

.update {
    font-size: 24px;
    padding: .3em;
    color: black !important;
    
    
}

h3 {
    margin: 10px;
    
}

footer.page-footer {
    background: linear-gradient(120deg, #59B509, #2B5505 95%);
    margin-top: 2rem;
    text-align: left;
}