<form class="card-like">
    <h1>Login or SignUp</h1>
    <label className="display-block" htmlFor="fullName">Full Name</label>
    <br />
    <input className="display-block" type="text" name="fullName"  />
    <br />
    <label className="display-block" htmlFor="email">Email</label>
    <br />
    <input className="display-block" type="text" name="email"  />
    <br />
    <label className="display-block" htmlFor="password">Password</label>
    <br />
    <input className="display-block" type="password" name="password"  />
    <br />
    <br />
    <button type="submit" class="btn">Submit</button>
</form>