<head>
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Oswald" rel="stylesheet">
</head>
    
    <br />
    <div class="btnZone">
    <button>Profile</button>
    <br />
    <br />
    <br />
    <button>Clients</button>
    <br />
    <br />
    <br />
    <button>Search</button>
    <br />
    <br />
    <br />
    <button>Logout</button>
</div>
    <div class="boxy"><img src="../../assets/mark-rabe-zCJrolkwRyE-unsplash.jpg" class="recPic" /></div>
    
    <ul class="titlesList">
        <li>Name:</li>
        <li>Email:</li>
        <li>Location:</li>
    </ul>
    <ul class="statsList">
      <li>Random Person</li>
      <li>personr@test.com</li>
      <li>Testville, USA</li> 
    </ul>
    
    <a href="https://www.linkedin.com/in/alexrudicel/">
    <input type="image" src="../../assets/linkedin.png" class="link" />
    </a>
    <div id="control"></div>
    
    
    <h2>About Me:</h2>
    <ul class="infoList">
      
      <p>I'm all about recruiting the best possible candidate<br /> for every position I can fill.</p>
    </ul>
    