body {
    background: linear-gradient(145deg, 
    #066B87 , 
    #0990B5 52%);
    margin: 0, auto;
  }
  
  hr {
    background-color: whitesmoke;
  }
  h1 {
    color: white;
    letter-spacing: 1em;
    height: 50px;
    width: auto;
    text-align: center;
    font-family: 'Comfortaa', cursive;
  }