<nav class="navbar navbar-expand-lg navbar-dark ">     
    <div class="container" >       
            <a class="navbar-brand" href="/splashPage">eRecruit</a>     
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </div>
</nav>

<div class="listJobs" *ngIf="searchJobs">
    <ol class="search-results">
        <li class="jobSelect" *ngFor="let job of searchJobs.listings.listing">
                <strong>{{job.title}}</strong> at
            <u>{{job.company.name}}</u>
            <br />
            <a href="{{job.url}}" target="_blank">{{job.url}}</a>
        </li>
    </ol>

    
</div>

<footer class="page-footer center-on-small-only">

        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-lg-4 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>About</strong></h5>
                    <p>eRecruit was designed with job seekers in mind.</p>
                    <p>Having one central location where recruiters can directly connect with clients makes for an easier job placement for clients through a recruiter.</p>
                </div>
                
                <hr class="w-100 clearfix d-sm-none">
                
                <div class="col-lg-2 col-md-6 ml-auto"></div>
                    
                <hr class="w-100 clearfix d-sm-none">
           
                <hr class="w-100 clearfix d-sm-none">

            </div>
        </div>

        <hr>
       
        <!-- Call to action -->
        <div class="call-to-action">
            <h2 class="mb-5">We Make Recruiting E-asy.</h2>
        </div>
       

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2019 Copyright: Meme Scream Dream Team LLC Inc.
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
