.navbar {
    /* background-color: #676b74; */
    background: linear-gradient(120deg, #0990b5, #066b87 95%);
}

.search-results {
    margin-left: 25px;
    margin-top: 15px;
    padding: .3em;
    font-size: 20px;
    
}

li {
    margin: 3px
}

p {
    padding: .4em;
    letter-spacing: .2em;
    color: white;
}

footer.page-footer {
    /* background-color: #676b74; */
    background: linear-gradient(240deg, #0990b5,  #066b87 95%);
    margin-top: 2rem;
}