<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container">
        <a class="navbar-brand" href="/splashPage">eRecruit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </div>
</nav>

<div *ngIf="searchJobs">
    <ul class="search-results">
        <li *ngFor="let job of searchJobs.listings.listing">
            {{job.title}} at
            {{job.company.name}}
            <a href="{{job.url}}">{{job.url}}</a>
        </li>
    </ul>
</div>
