.regBtn {
    color: black !important;
}

.loginPage {
    height: 100vh; 
    width: 50vw;
    /* padding: 5em 10em; */
    margin: auto;
}

.logo {
    position: relative;
    left: 20px;
    top: 20px;
    height: 175px;
    width: 175px;
    border-radius: 300px;
    border: 2px solid darkgray;
    background-color: black;
    margin: 2em;
}

.logo:hover {
    background-color: darkgray;
    border: 2px solid black;
 
}

.btn-primary {
    background-color: black;
    border: black;
}

.btn-primary:hover {
    background-color: darkgray !important;
   
}

.logoTitle {
    display: block;
    text-align: center;
    margin: 25% auto;
    position: relative;
    color: whitesmoke;
    font-size: 2.3em;
    font-family: 'Exo', sans-serif;
}

.logoTitle p {
    font-size: 10pt;
}

.admin-login {
    color: white;
}

@media only screen and (max-width: 720px) {
    .logo {
        visibility: hidden;
    }
}