/* YOUR CUSTOM STYLES */
.footer-links {
    text-transform: uppercase;
}

a.list-group-item:hover {
    background-color: #59B509 !important;
    color: white;
}

.proPic {
    width: 30%;
    height: 30%;
}

.col-lg-3, .col-md-6, .ml-auto{
    left: -25% !important;
}



