.update {
    font-size: 24px;
    padding: .3em;
    color: black !important;
    
    
}

.navbar {
    /* background-color: #676b74; */
    background: linear-gradient(120deg, #0990b5, #066b87 95%);
}

h3 {
    margin: 10px;
    
}

footer.page-footer {
    /* background-color: #676b74; */
    background: linear-gradient(240deg, #0990b5,  #066b87 95%);
    margin-top: 2rem;
}